header .menuBkg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: #464646; }
  header .menuBkg .menuContenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 25px; }
    header .menuBkg .menuContenedor .menuLogo {
      display: flex;
      justify-content: flex-start;
      height: 20px; }
    header .menuBkg .menuContenedor .menuLinks {
      display: flex; }
      header .menuBkg .menuContenedor .menuLinks .menuElement {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #828282;
        border-radius: 20px;
        margin-left: 5px;
        padding: 5px; }
      header .menuBkg .menuContenedor .menuLinks .menuElement:hover {
        transition: 0.1s;
        transform: scale(110%); }

@media screen and (min-width: 576px) {
  header .menuBkg .menuContenedor {
    width: 90vw;
    height: 35px; }
    header .menuBkg .menuContenedor .menuLogo {
      display: flex;
      justify-content: flex-start;
      height: 25px; }
    header .menuBkg .menuContenedor .menuLinks {
      display: flex; }
      header .menuBkg .menuContenedor .menuLinks .menuElement {
        width: 25px;
        height: 25px;
        border-radius: 25px; } }

@media screen and (min-width: 1000px) {
  header .menuBkg {
    width: 100vw;
    height: fit-content; }
    header .menuBkg .menuContenedor {
      width: 1000px;
      height: 40px; }
      header .menuBkg .menuContenedor .menuLogo {
        display: none; }
      header .menuBkg .menuContenedor .menuLinks {
        display: flex; }
        header .menuBkg .menuContenedor .menuLinks .menuElement {
          width: 25px;
          height: 25px;
          border-radius: 25px;
          margin-left: 5px;
          padding: 5px; } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: #1e1e1e; }
  main .horzLine1 {
    margin-bottom: 10px;
    opacity: 100%; }
  main .horzLine2 {
    width: 90%;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 100%; }
  main .tituloPagina {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: whitesmoke; }
  main .tituloSeccion {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px; }
  main .menuBkg {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: #282828;
    position: sticky;
    top: 0px; }
    main .menuBkg .menuContenedor {
      width: 90vw;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .menuBkg .menuContenedor .menuLogo {
        display: none; }
      main .menuBkg .menuContenedor .menuElement {
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.5rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 5px; }
      main .menuBkg .menuContenedor .menuLogin {
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.5rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none; }
      main .menuBkg .menuContenedor .menuLogo:hover {
        transition: 0.1s;
        transform: scale(110%); }
      main .menuBkg .menuContenedor .menuElement:hover {
        transition: 0.1s;
        transform: scale(110%); }
      main .menuBkg .menuContenedor .menuLogin:hover {
        transition: 0.1s;
        transform: scale(110%); }
  main .bienvenidaContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/welcome_bkg.png");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 5px black, -1px -1px 5px black;
    height: 100px;
    width: 100vw; }
    main .bienvenidaContenedor .tituloBienvenida {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5rem;
      margin-bottom: 2px; }
    main .bienvenidaContenedor .subtituloBienvenida {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      margin-bottom: 2px; }
    main .bienvenidaContenedor .textoBienvenida {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.5rem;
      font-weight: 500;
      color: whitesmoke;
      width: 400px; }
    main .bienvenidaContenedor .racenowLogo {
      width: 200px; }
    main .bienvenidaContenedor .byafrt {
      display: flex;
      justify-content: flex-end;
      width: 200px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: 0.5rem; }
  main .discordContenedor {
    display: none; }
  main .contenedorRojo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: red; }
  main .contenedorGris {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: whitesmoke;
    height: fit-content;
    width: 100vw; }
    main .contenedorGris .eventosContenedor {
      color: whitesmoke;
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 2;
      grid-template-areas: "eventosActivos" "eventosFinalizados";
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;
      padding-top: 20px;
      padding-bottom: 20px; }
      main .contenedorGris .eventosContenedor .eventosActivos {
        grid-area: eventosActivos;
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: whitesmoke;
        height: fit-content;
        width: 90vw; }
        main .contenedorGris .eventosContenedor .eventosActivos .evento, main .contenedorGris .eventosContenedor .eventosActivos .racenow {
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/evento_bkg.png");
          display: flex;
          background-size: cover;
          color: whitesmoke;
          width: 90vw;
          height: fit-content;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 0px 20px 0px 20px; }
        main .contenedorGris .eventosContenedor .eventosActivos .racenow {
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/racenow_bkg.png"); }
      main .contenedorGris .eventosContenedor .racenowActivos {
        grid-area: eventosActivos;
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: whitesmoke;
        height: fit-content;
        width: 90vw; }
        main .contenedorGris .eventosContenedor .racenowActivos .racenow {
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/racenow_bkg.png");
          display: flex;
          background-size: cover;
          color: whitesmoke;
          width: 90vw;
          height: fit-content;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 0px 20px 0px 20px; }
      main .contenedorGris .eventosContenedor .eventosFinalizados {
        grid-area: eventosFinalizados;
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: whitesmoke;
        height: fit-content;
        width: 90vw; }
        main .contenedorGris .eventosContenedor .eventosFinalizados .evento, main .contenedorGris .eventosContenedor .eventosFinalizados .racenow {
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/evento_bkg.png");
          display: flex;
          background-size: cover;
          color: whitesmoke;
          width: 90vw;
          height: fit-content;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 0px 20px 0px 20px; }
        main .contenedorGris .eventosContenedor .eventosFinalizados .racenow {
          background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/racenow_bkg.png"); }
      main .contenedorGris .eventosContenedor .eventoLadoIzq {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        width: 70%; }
        main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoTitulo {
          font-size: 0.5rem;
          font-style: italic;
          font-weight: 700;
          text-shadow: 1px 1px 5px black, -1px -1px 5px black; }
        main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoSubtitulo {
          font-size: 0.45rem;
          font-weight: 700;
          margin-bottom: 5px;
          text-shadow: 1px 1px 5px black, -1px -1px 5px black; }
        main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoLI {
          font-size: 0.45rem;
          list-style: none;
          margin-bottom: 1px;
          text-shadow: 1px 1px 5px black, -1px -1px 5px black; }
      main .contenedorGris .eventosContenedor .eventoLadoDer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        width: 30%; }
        main .contenedorGris .eventosContenedor .eventoLadoDer .eventoInfo {
          display: flex;
          background-color: white;
          color: #1e1e1e;
          text-decoration: none;
          font-weight: 900;
          font-size: 0.5rem;
          justify-content: center;
          align-items: center;
          width: fit-content;
          height: fit-content;
          padding: 3px 6px 3px 6px;
          border-radius: 5px; }
        main .contenedorGris .eventosContenedor .eventoLadoDer .eventoInfo:hover {
          transition: 1s;
          transform: scale(110%); }
    main .contenedorGris .contenedorLive {
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;
      padding-top: 10px;
      padding-bottom: 10px; }
      main .contenedorGris .contenedorLive .divMainStream {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        color: whitesmoke;
        height: fit-content;
        width: 90vw; }
        main .contenedorGris .contenedorLive .divMainStream .iframeContenedor {
          width: 90vw;
          height: 50.6vw; }
      main .contenedorGris .contenedorLive .suscribirContenedor {
        display: flex;
        justify-content: flex-end;
        width: 90vw; }
        main .contenedorGris .contenedorLive .suscribirContenedor .suscribirBoton {
          display: flex;
          background-color: red;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          padding: 5px 10px 5px 10px;
          border-radius: 5px;
          text-transform: uppercase;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 0.65rem;
          font-weight: 700; }
    main .contenedorGris .loginContenedor {
      width: 90vw;
      height: fit-content;
      padding-top: 5px;
      padding-bottom: 5px; }
      main .contenedorGris .loginContenedor .loginForm {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 3;
        grid-template-areas: "loginUser" "loginPass" "loginAction";
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.65rem;
        font-weight: 500;
        text-transform: uppercase;
        width: 90vw;
        height: fit-content; }
        main .contenedorGris .loginContenedor .loginForm .loginUser {
          grid-area: loginUser;
          display: flex;
          flex-direction: column;
          align-items: center; }
        main .contenedorGris .loginContenedor .loginForm .loginPass {
          grid-area: loginPass;
          display: flex;
          flex-direction: column;
          align-items: center; }
        main .contenedorGris .loginContenedor .loginForm .loginAction {
          grid-area: loginAction;
          display: flex;
          flex-direction: column;
          align-items: center; }
          main .contenedorGris .loginContenedor .loginForm .loginAction .loginBoton {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            padding: 3px 10px 3px 10px;
            margin-top: 5px; }
        main .contenedorGris .loginContenedor .loginForm .loginLabel {
          text-align: center;
          display: flex;
          justify-content: center;
          margin-bottom: 5px; }
        main .contenedorGris .loginContenedor .loginForm .loginCaja {
          text-align: center;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          width: 250px;
          height: 30px;
          border-radius: 5px; }
        main .contenedorGris .loginContenedor .loginForm .claveReset {
          color: whitesmoke;
          text-decoration: none;
          margin-top: 10px; }
  main .contenedorBlanco {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: fit-content;
    width: 100vw; }
    main .contenedorBlanco .videosContenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;
      padding-top: 20px;
      padding-bottom: 20px; }
      main .contenedorBlanco .videosContenedor .videosAnteriores {
        color: #464646;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: fit-content;
        width: 90vw; }
        main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria {
          display: grid;
          grid-template-columns: 2;
          grid-template-rows: auto;
          grid-template-areas: "thumb1 thumb2" "thumb3 thumb4" "thumb5 thumb5";
          justify-content: space-around;
          align-items: center;
          height: fit-content;
          gap: 3px; }
          main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria .thumb1 {
            grid-area: thumb1; }
          main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria .thumb2 {
            grid-area: thumb2; }
          main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria .thumb3 {
            grid-area: thumb3; }
          main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria .thumb4 {
            grid-area: thumb4; }
          main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria .thumb5 {
            grid-area: thumb5; }
    main .contenedorBlanco .reglamento {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.65rem;
      font-weight: 500;
      width: 90vw;
      padding-top: 20px;
      padding-bottom: 20px; }
    main .contenedorBlanco .contactoContenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90vw;
      height: fit-content;
      padding-top: 5px;
      padding-bottom: 5px; }
      main .contenedorBlanco .contactoContenedor .contactoForm {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        grid-template-areas: "contactoNombre" "contactoApellido" "contactoEmail" "contactoEmail" "contactoPais" "contactoComentario" "contactoAction";
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 0.65rem;
        text-transform: uppercase;
        width: 90vw; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoNombre {
          grid-area: contactoNombre;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoApellido {
          grid-area: contactoApellido;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoEmail {
          grid-area: contactoEmail;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoPais {
          grid-area: contactoPais;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoComentario {
          grid-area: contactoComentario;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoAction {
          grid-area: contactoAction;
          display: flex;
          flex-direction: column;
          align-items: center; }
          main .contenedorBlanco .contactoContenedor .contactoForm .contactoAction .contactoBoton {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            padding: 3px 10px 3px 10px;
            margin-top: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoLabel {
          margin-bottom: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .contactoCaja {
          text-align: center;
          width: 250px;
          height: 30px;
          border-radius: 5px; }
        main .contenedorBlanco .contactoContenedor .contactoForm .comentarioCaja {
          text-align: center;
          width: 250px;
          height: 250px;
          border-radius: 5px; }

@media screen and (min-width: 576px) {
  main .tituloPagina {
    font-size: 1.5rem; }
  main .menuBkg {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: #282828;
    position: sticky;
    top: 0px; }
    main .menuBkg .menuContenedor {
      width: 90vw;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .menuBkg .menuContenedor .menuLogo {
        display: none; }
      main .menuBkg .menuContenedor .menuElement {
        font-size: 0.75rem;
        font-weight: 600;
        margin-right: 5px; }
      main .menuBkg .menuContenedor .menuLogin {
        font-size: 0.75rem;
        font-weight: 600; }
  main .bienvenidaContenedor {
    height: 200px;
    padding: 10px; }
    main .bienvenidaContenedor .tituloBienvenida {
      font-size: 2rem;
      margin-bottom: 10px; }
    main .bienvenidaContenedor .subtituloBienvenida {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 10px; }
    main .bienvenidaContenedor .textoBienvenida {
      font-size: 0.65rem;
      width: 520px; }
    main .bienvenidaContenedor .racenowLogo {
      width: 400px; }
    main .bienvenidaContenedor .byafrt {
      width: 400px;
      font-size: 1rem; }
  main .contenedorRojo {
    width: 100vw;
    height: 100px; }
  main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoTitulo {
    font-size: 0.85rem; }
  main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoSubtitulo {
    font-size: 0.65rem; }
  main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoLI {
    font-size: 0.65rem;
    margin-bottom: 2px; }
  main .contenedorGris .eventosContenedor .eventoLadoDer .eventoInfo {
    font-size: 0.65rem;
    padding: 6px 12px 6px 12px; }
  main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria {
    grid-template-columns: 3;
    grid-template-areas: "thumb1 thumb2 thumb3" "thumb4 thumb5 thumb5";
    justify-content: space-between;
    gap: 10px; } }

@media screen and (min-width: 1000px) {
  main .horzLine1 {
    margin-bottom: 20px; }
  main .horzLine2 {
    margin-top: 5px;
    margin-bottom: 5px; }
  main .tituloPagina {
    font-size: 2rem; }
  main .tituloSeccion {
    font-size: 1.5rem;
    margin-top: 20px; }
  main .menuBkg {
    position: sticky;
    top: 0px; }
    main .menuBkg .menuContenedor {
      width: 1000px;
      height: 76px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .menuBkg .menuContenedor .menuLogo {
        display: flex;
        justify-content: flex-start;
        margin-right: 5px;
        height: 60px; }
      main .menuBkg .menuContenedor .menuElement {
        font-size: 1rem;
        font-weight: 600;
        margin: 5px; }
      main .menuBkg .menuContenedor .menuLogin {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 80px; }
  main .bienvenidaContenedor {
    height: 300px;
    padding: 50px; }
    main .bienvenidaContenedor .tituloBienvenida {
      font-size: 2.5rem;
      margin-bottom: 30px; }
    main .bienvenidaContenedor .subtituloBienvenida {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 30px; }
    main .bienvenidaContenedor .textoBienvenida {
      font-size: 0.75rem;
      width: 600px; }
    main .bienvenidaContenedor .racenowLogo {
      width: 600px; }
    main .bienvenidaContenedor .byafrt {
      width: 600px;
      font-size: 1.5rem; }
  main .discordContenedor {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 30px; }
    main .discordContenedor .discord {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1000px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      main .discordContenedor .discord .discordTitulo {
        display: flex;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        font-style: oblique;
        margin-right: 100px; }
      main .discordContenedor .discord .discorLink {
        text-decoration: none; }
        main .discordContenedor .discord .discorLink .discordBoton {
          width: 250px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 20px;
          padding: 10px; }
          main .discordContenedor .discord .discorLink .discordBoton .discordLogo {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center; }
          main .discordContenedor .discord .discorLink .discordBoton .discordTextos {
            width: 170px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #282828; }
            main .discordContenedor .discord .discorLink .discordBoton .discordTextos .texto1 {
              text-transform: uppercase;
              font-size: 1rem; }
            main .discordContenedor .discord .discorLink .discordBoton .discordTextos .texto2 {
              font-size: 2rem;
              font-style: oblique; }
        main .discordContenedor .discord .discorLink .discordBoton:hover {
          transition: 1s;
          transform: scale(110%); }
  main .contenedorRojo {
    width: 100vw;
    height: 150px; }
  main .contenedorGris .eventosContenedor {
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "eventosActivos eventosFinalizados";
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: fit-content;
    gap: 40px; }
    main .contenedorGris .eventosContenedor .eventosActivos {
      width: 480px; }
      main .contenedorGris .eventosContenedor .eventosActivos .evento, main .contenedorGris .eventosContenedor .eventosActivos .racenow {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; }
      main .contenedorGris .eventosContenedor .eventosActivos .racenow {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; }
    main .contenedorGris .eventosContenedor .eventosFinalizados {
      width: 480px; }
      main .contenedorGris .eventosContenedor .eventosFinalizados .evento, main .contenedorGris .eventosContenedor .eventosFinalizados .racenow {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; }
      main .contenedorGris .eventosContenedor .eventosFinalizados .racenow {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; }
    main .contenedorGris .eventosContenedor .racenowActivos {
      width: 1000px; }
      main .contenedorGris .eventosContenedor .racenowActivos .racenow {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; }
    main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoTitulo {
      font-size: 1rem; }
    main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoSubtitulo {
      font-size: 0.75rem;
      margin-bottom: 10px; }
    main .contenedorGris .eventosContenedor .eventoLadoIzq .eventoLI {
      font-size: 0.75rem; }
    main .contenedorGris .eventosContenedor .eventoLadoDer .eventoInfo {
      font-size: 0.75rem;
      padding: 5px 10px 5px 10px; }
  main .contenedorGris .contenedorLive {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px; }
    main .contenedorGris .contenedorLive .divMainStream {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      color: whitesmoke;
      height: fit-content;
      width: 1000px; }
      main .contenedorGris .contenedorLive .divMainStream .iframeContenedor {
        width: 1000px;
        height: 562px; }
    main .contenedorGris .contenedorLive .suscribirContenedor {
      width: 1000px; }
      main .contenedorGris .contenedorLive .suscribirContenedor .suscribirBoton {
        padding: 10px 15px 10px 15px;
        font-size: 1rem;
        font-weight: 700; }
  main .contenedorGris .loginContenedor {
    width: 1000px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px; }
    main .contenedorGris .loginContenedor .loginForm {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 2;
      grid-template-areas: "loginUser loginPass" "loginAction loginAction";
      font-size: 1rem;
      width: 1000px;
      height: fit-content; }
      main .contenedorGris .loginContenedor .loginForm .loginUser {
        grid-area: loginUser; }
      main .contenedorGris .loginContenedor .loginForm .loginPass {
        grid-area: loginPass; }
      main .contenedorGris .loginContenedor .loginForm .loginAction {
        grid-area: loginAction; }
        main .contenedorGris .loginContenedor .loginForm .loginAction .loginBoton {
          padding: 6px 20px 6px 20px;
          margin-top: 10px; }
      main .contenedorGris .loginContenedor .loginForm .loginLabel {
        text-align: center;
        margin-bottom: 10px; }
      main .contenedorGris .loginContenedor .loginForm .loginCaja {
        width: 250px;
        height: 30px;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 5px; }
      main .contenedorGris .loginContenedor .loginForm .claveReset {
        color: whitesmoke;
        text-decoration: none;
        margin-top: 10px; }
  main .contenedorBlanco .videosContenedor {
    width: 1000px; }
    main .contenedorBlanco .videosContenedor .videosAnteriores {
      width: 1000px; }
      main .contenedorBlanco .videosContenedor .videosAnteriores .videoGaleria {
        grid-template-columns: 5;
        grid-template-areas: "thumb1 thumb2 thumb3 thumb4 thumb5";
        justify-content: space-around; }
  main .contenedorBlanco .reglamento {
    width: 1000px;
    height: fit-content;
    font-size: 1rem; }
  main .contenedorBlanco .contactoContenedor {
    width: 1000px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px; }
    main .contenedorBlanco .contactoContenedor .contactoForm {
      grid-template-columns: 2;
      grid-template-rows: 5;
      grid-template-areas: "contactoNombre contactoComentario" "contactoApellido contactoComentario" "contactoEmail contactoComentario" "contactoPais contactoComentario" "contactoAction contactoAction";
      justify-content: space-between;
      font-size: 1rem;
      width: 1000px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoNombre {
        margin-bottom: 10px;
        margin-left: 100px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoApellido {
        margin-bottom: 10px;
        margin-left: 100px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoEmail {
        margin-bottom: 10px;
        margin-left: 100px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoPais {
        margin-bottom: 10px;
        margin-left: 100px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoComentario {
        margin-bottom: 10px;
        margin-right: 100px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoLabel {
        margin-bottom: 10px; }
      main .contenedorBlanco .contactoContenedor .contactoForm .contactoAction .contactoBoton {
        padding: 6px 20px 6px 20px;
        margin-top: 10px; } }

footer {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }
  footer .discordFixed {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: #828282;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 8px;
    border-radius: 10px; }
  footer .contenedorNegro {
    width: 90vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: "footerLogo footerMenu footerSocial" "footerParrafo footerMenu footerSocial" "copyrights copyrights copyrights";
    justify-content: center;
    align-items: flex-start;
    color: whitesmoke; }
    footer .contenedorNegro .footerLogo {
      display: flex;
      justify-content: flex-start;
      grid-area: footerLogo;
      margin: 10px;
      height: 50px; }
    footer .contenedorNegro .footerParrafo {
      grid-area: footerParrafo;
      color: whitesmoke;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.5rem;
      margin: 10px;
      padding-right: 10vw; }
    footer .contenedorNegro .footerMenu {
      grid-area: footerMenu;
      margin: 10px; }
    footer .contenedorNegro .footerSocial {
      grid-area: footerSocial;
      margin: 10px; }
    footer .contenedorNegro .footList {
      color: #aaaaaa;
      list-style-type: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: small;
      font-weight: 500;
      text-transform: uppercase; }
      footer .contenedorNegro .footList .footTitles {
        text-transform: uppercase;
        font-size: 0.65rem;
        font-weight: 700;
        margin-bottom: 20px; }
      footer .contenedorNegro .footList .footItem {
        display: flex;
        align-items: center;
        color: #aaaaaa;
        font-size: 0.5rem;
        column-gap: 5px;
        margin-bottom: 5px; }
        footer .contenedorNegro .footList .footItem .footIcon {
          width: 20px;
          height: 20px;
          background-color: #828282;
          border-radius: 20px;
          padding: 3px; }
      footer .contenedorNegro .footList .footLink {
        text-decoration: none;
        color: #aaaaaa; }
    footer .contenedorNegro .copyrights {
      grid-area: copyrights;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: fit-content;
      margin-top: 20px;
      margin-bottom: 10px;
      color: whitesmoke;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.65rem;
      font-weight: 400; }

@media screen and (min-width: 576px) {
  footer .contenedorNegro {
    width: 90vw;
    padding-top: 20px; }
    footer .contenedorNegro .footerLogo {
      height: 60px; }
    footer .contenedorNegro .footerParrafo {
      font-size: 0.7rem;
      line-height: 20px;
      padding-right: 10vw; }
    footer .contenedorNegro .footList .footTitles {
      font-size: 0.75rem; }
    footer .contenedorNegro .footList .footItem {
      font-size: 0.65rem;
      margin-bottom: 10px;
      column-gap: 10px; }
      footer .contenedorNegro .footList .footItem .footIcon {
        width: 20px;
        height: 20px;
        background-color: #828282;
        border-radius: 20px;
        padding: 4px; }
    footer .contenedorNegro .copyrights {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 0.75rem; } }

@media screen and (min-width: 1000px) {
  footer .discordFixed {
    width: 50px;
    height: 50px;
    display: flex;
    bottom: 40px;
    right: 40px;
    padding: 8px;
    border-radius: 10px; }
  footer .contenedorNegro {
    width: 1000px;
    padding-top: 20px; }
    footer .contenedorNegro .footerLogo {
      height: 80px; }
    footer .contenedorNegro .footerParrafo {
      font-size: 0.8rem;
      line-height: 25px;
      padding-right: 10vw; }
    footer .contenedorNegro .footList .footTitles {
      font-size: 1rem; }
    footer .contenedorNegro .footList .footItem {
      font-size: 0.75rem;
      margin-bottom: 10px;
      column-gap: 10px; }
      footer .contenedorNegro .footList .footItem .footIcon {
        width: 20px;
        height: 20px;
        background-color: #828282;
        border-radius: 20px;
        padding: 3px; }
    footer .contenedorNegro .copyrights {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 1rem; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
