@import "partials/variables";
@import "partials/mapas";
@import "partials/listas";
@import "partials/mixins";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}