$evento:(
    display: flex,
    background-size: cover,
    color: $color-blanco1,
    width: 90vw,
    height: fit-content,
    padding: 10px,
    margin-bottom: 20px,
    border-radius: 0px 20px 0px 20px,
);