$color-gris0: rgb(30,30,30);
$color-gris1: rgb(40, 40, 40);
$color-gris2: rgb(70, 70, 70);
$color-gris3: rgb(130,130,130);
$color-gris4: rgb(170, 170, 170);
$color-blanco0: white;
$color-blanco1: whitesmoke;
$color-black0: rgb(0,0,0);
$color-rojo0: red;
$hover-tranformation-scale: 110%;
$gradiente-activo-1:rgba(0,0,0,0.6);
$gradiente-activo-2:rgba(0,0,0,0.1);
$gradiente-finalizado-1:rgba(0,0,0,0.8);
$gradiente-finalizado-2:rgba(0,0,0,0.6);
$transition-duration0: 0.1s;
$transition-duration1: 1s;